<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>iOS Style Car Door Control</title>
  <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"
        integrity="sha384-mZLF4UVrpi/QTWPA7BjNPEnkIfRFn4ZEO3Qt/HFklTJBj/gBOV8G3HcKn4NfQblz"
        crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
  <div class="container">
    <!-- 버튼 컨테이너 -->
    <div class="top-controls">
      <button class="control-button lock-button" id="lock-button"></button>
      <button class="control-button power-button" id="power-button"></button>
      <button class="control-button unlock-button" id="unlock-button"></button>
    </div>

    <div class="car">
      <div class="door front-left" data-door="front-left" id="door-1">1</div>
      <div class="door front-right" data-door="front-right" id="door-3">3</div>
      <div class="door rear-left" data-door="rear-left" id="door-2">2</div>
      <div class="door rear-right" data-door="rear-right" id="door-4">4</div>
    </div>
  </div>
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>